/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
/*=============== HEADER & NAV ===============*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  box-sizing: border-box;
  transition: all .3s ease;
  text-decoration: none;
}


:root {
  --dark-green: #112a34;
  --green-color: #004047;
  --white-color: #fff;
}

::selection {
  background: var(--green-color);
  color: var(--white-color);
}

html,
body {
  width: 100%;
  height: 100%;
  color: var(--white-color);
}

html {
  font-size: 90%;
}

section {
  padding: 0 8rem;
  width: 100%;
}

.label {
  font-size: 1.1rem;
  color:  #666;
  text-transform: uppercase;
  font-weight: 500;
}

.heading {
  font-size: 3rem;
  margin-top: 1rem;
}

section.home {
  padding: 1rem;
  width: 100%;
  height: 100vh;
}

.home .home-box {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: .5rem;
  border-radius: .5rem;
}

.home .home-box nav {
  width: 100%;
  height: 65px;
  background: linear-gradient(rgb(255,255,255,.2),rgb(255,255,255,.2));
  backdrop-filter: blur(1px);
  border-radius: .7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  z-index: 10;
  position: relative;
}

.home .home-box nav .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.home .home-box nav .logo .bar {
  font-size: 1.35rem;
  color: var(--white-color);
  cursor: pointer;
  display: none;
}

.home .home-box nav .logo .bar:hover {
  color: var(--green-color);
}

.home .home-box nav .logo h3 {
  color: var(--white-color);
  font-weight: 400;
}

.home .home-box nav .signup-login {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.home .home-box nav .signup-login a {
  color: var(--white-color);
  padding: .3rem 1rem;
  border-radius: 2rem;
}

.home .home-box nav .signup-login a:last-child {
  background: var(--green-color);
  padding: .3rem 1rem;
  border-radius: 2rem;
}

.home .home-box nav .signup-login a:hover {
  color: rgb(255 255 255/70%);
}

.home .home-box nav .signup-login a:last-child:hover {
  color: var(--white-color);
  background: #02636e;
}

.home .home-box .slider{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin-top: -68px;
  border-radius: 6px;
}
/* SLIDER */
.home .home-box .slider .list .item {
  position: absolute;
  inset: 0 0 0 0;
}
.home .home-box .slider .list .item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home .home-box .slider .list .item .detail {
  position: absolute;
  top: 20%;
  width: 1200px;
  max-width: 80%;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
}
.home .home-box .slider .list .item .detail .title{
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  margin-bottom: 0.6rem;
}
.home .home-box .slider .list .item .detail .name {
  font-weight: 900; /* Mengubah font-size ke font-weight */
  text-transform: uppercase;
  font-size: 3.5rem;
  letter-spacing: 0.1rem;
  line-height: 3.5rem;
  margin-bottom: 0.8rem;
  background: linear-gradient(#0e1c26, #2a454b, #294861);
  /* -webkit-background-clip: text; */
  background-clip: text;
  color: transparent;
  text-shadow: none;
}

.home .home-box .slider .list .item .detail .desc{
  margin-top: 1rem;
  font-weight: 100;
  font-size: 1rem;
  max-width: 40rem;
  text-shadow: 1px 1px 1px #000;
}

.home .home-box .slider .list .item .detail .more{
  display: inline-block;
  margin-top: 1.4rem;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  padding: 0.6rem 0.8rem;
  border-radius: 0.3rem;
  text-shadow: none;
  font-size: 1rem;
}
.home .home-box .slider .list .item .detail .more:hover{
  color: #fff;
  background-color: #a22626;
}

/* thumbnail */
.thumbnail{
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: max-content;
  z-index: 999;
  display: flex;
  gap: 20px;
}
.thumbnail .item{
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}
.thumbnail .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.thumbnail .item .detail{
  position: absolute;
  bottom: 15px;
  left: 10px;
  right: 10px;
}
.thumbnail .item .detail .name{
  font-weight: 900;
  font-size: 1rem;
  text-align: right;
  margin-bottom: 5px;
  text-shadow: 1px 1px 1px #000;
}

/* Arrows */
.arrows {
  position: absolute;
  top: 80%;
  right: 52%;
  width: 300px;
  max-width: 30%;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.arrows button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  box-shadow: 1px 1px 1px #000;
  color: #a22626;
  cursor: pointer;
  z-index: 100;
  transition: 0.3s;
}

.arrows button:hover{
  background-color: #a22626;
  color: #fff;
}

/* STARTING ANIMATION */
.slider .list .item:nth-child(1){
  z-index: 1;
}
.slider .list .item:nth-child(1) .title,
.slider .list .item:nth-child(1) .name,
.slider .list .item:nth-child(1) .desc,
.slider .list .item:nth-child(1) .more{
  transform: translateY(50px);
  filter: blur(50px);
  opacity: 0;
  animation: showDetail 0.5s 1s linear forwards;
}

@keyframes showDetail {
  to{
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}
.slider .list .item:nth-child(1) .title{
  animation-delay: 1s;
}
.slider .list .item:nth-child(1) .name{
  animation-delay: 1.1s;
}
.slider .list .item:nth-child(1) .desc{
  animation-delay: 1.2s;
}
.slider .list .item:nth-child(1) .more{
  animation-delay: 1.3s;
}

/* ANIMASI */
.slider.next .list .item:nth-child(1) > img{
  width: 150px;
  height: 220px;
  position: absolute;
  left: 50%;
  bottom: 50px;
  border-radius: 15px;
  animation: growImage 0.5s linear 1 forwards ;
}
@keyframes growImage {
  to{
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    border-radius: 0;
  }
}
.slider.next .thumbnail .item:nth-last-child(1){
  width: 0;
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail 0.5s linear 1 forwards;
}
@keyframes showThumbnail {
  to{
    width: 150px;
    opacity: 1;
  }
}
.slider.next .thumbnail{
  transform: translateX(150px);
  animation: transformThumbnail 0.5s linear 1 forwards;
}
@keyframes transformThumbnail {
  to{
    transform: translateX(0);
  }
}

/* PREV */
.slider.prev .list .item:nth-child(2){
  z-index: 2;
}
.slider.prev .list .item:nth-child(2) > img{
  position: absolute;
  bottom: 0;
  left: 0;
  animation: smalImage 0.5s linear 1 forwards;
}
@keyframes smalImage {
  to{
    width: 150px;
    height: 220px;
    border-radius: 15px;
    left: 50%;
    bottom: 50px;
  }
}

.slider.prev .thumbnail .item:nth-child(1) {
  width: 0;
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail 0.5s linear 1 forwards;
}

.slider.prev .list .item:nth-child(2) .name,
.slider.prev .list .item:nth-child(2) .title,
.slider.prev .list .item:nth-child(2) .desc,
.slider.prev .list .item:nth-child(2) .more{
  animation: hideDetail 0.5s 1s linear 1 forwards;
}
@keyframes hideDetail{
  to{
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 0;
  }
}

.slider.next .arrows button,
.slider.prev .arrows button{
  pointer-events: none;
}

.loading-bar{
  width: 0%;
  height: 5px;
  background-color: #f80;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
}

.slider.next .loading-bar,
.slider.prev .loading-bar{
  width: 100%;
  animation: loadingTime 2s linear 1 forwards;
}
@keyframes loadingTime {
  to{
    width: 0;
  }
  
}


 /* Navigation for mobile devices */
.nav__list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  position: relative;
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-medium);
}

.nav__link::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--title-color);
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  transition: width 0.3s;
}

.nav__link:hover::after {
  width: 70%;
}

/* Active link */
.active-link::after {
  width: 70%;
}

/* KOLOM DAY-N */

.tabs {
  position: relative;
  top:70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90rem;
  height:80rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.judul{
  font-size: 2.5rem;
  color: #000;
  display: flex;
  justify-content: center;
}
.tabs .tab-header {
  background: #f5f5f5;
  margin-top: 100px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
}
.tabs .tab-header > div {
  position: relative;
  width: 25%;
  text-align: center;
  padding: 10px;
  z-index: 2;
  font-weight: 600;
  color: #888;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.tabs .tab-header > div.active {
  color: #387be2;
}
/* .tabs .tab-indicator {
    position: absolute;
    width: calc(14% - 5px);
    height: 40px;
    background: #d9e5f9;
    top: 70px;
    left: 10rem;
    border-radius: 20px;
    transition: all 300ms ease-in-out;
} */
.tabs .tab-body {
  position: relative;
  padding: 3%;
  background: #f5f5f5;
  border-top: 1px solid #ddd;
  height: calc(100% - 50px);
  overflow: hidden;
  margin-top: 10px;
  border-radius: 10px;
  color: #02636e;
}
.tabs .tab-body > div {
  position: absolute;
  opacity: 0;
  top: 100%;
  transform: translateY(-10px);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}
.tabs .tab-body > div.active {
  transform: translateY(0px);
  top: 30px;
  opacity: 1;
}
.tabs .tab-body h1 {
  color: #222;
  margin-bottom: 10px;
}
.tabs .tab-body h2 {
  color: var(--green-color);
  margin-bottom: 10px;

}
.tabs .tab-body p {
  color: #555;
  font-size: 15px;
  margin-bottom: 22px;
}

/* CARD */
.card_container{
  display: flex;
  flex-direction: row;
}

.card {
  position: relative;
  width: 200px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 10px;
}

.card-image {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.card-content {
  padding: 10px;
  background-color: transparent;
}

.rating {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  padding: 5px 8px;
  border-radius: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.star {
  color: orange;
  margin-right: 5px;
}

.card-title {
  font-size: 18px;
  margin: 10px 0;
  font-weight: bold;
}

.book-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.book-btn:hover {
  background-color: #0056b3;
}

.card-wrapper {
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.card-list .card-item {
    list-style: none;
}

.card-list .card-item .card-link {
    user-select: none;
    display: block;
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
}

.card-list .card-item .card-link:active {
    cursor: grabbing;
}

.card-list .card-item .card-link:hover {
    border-color: #5372F0;
}

.card-list .card-link .card-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .badge {
    color: #5372F0;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background: #DDE4FF;
    width: fit-content;
    border-radius: 50px;
}

.card-list .card-link .card-title {
    font-size: 1.19rem;
    color: #000;
    font-weight: 600;
}

.card-list .card-link .card-button {
    height: 35px;
    width: 35px;
    color: #5372F0;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid #5372F0;
    transform: rotate(-45deg);
    transition: 0.4s ease;
}

.card-list .card-link:hover .card-button {
    color: #fff;
    background: #5372F0;
}

.card-wrapper .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: #5372F0;
}

.card-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
}

.card-wrapper .swiper-slide-button {
    color: #5372F0;
    margin-top: -35px;
}

@media screen and (max-width: 768px) {
    .card-wrapper {
        margin: 0 10px 25px;
    }

    .card-wrapper .swiper-slide-button {
        display: none;
    }
}

.card-wrapper {
  max-width: 1100px;
  margin: 0 60px 35px;
  padding: 20px 10px;
  overflow: hidden;
}

.card-list .card-item {
  list-style: none;   
}

.card-list .card-item .card-link {
  user-select: none;
  display: block;
  background: #fff;
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
}

.card-list .card-item .card-link:active {
  cursor: grabbing;
} 

.card-list .card-item .card-link:hover {
  border-color: #5372F0;
}

.card-list .card-link .card-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 10px;
}

.card-list .card-link .badge {
  color: #5372F0;
  padding: 8px 16px;
  font-size: 0.95rem;
  font-weight: 500;
  margin: 16px 0 18px;
  background: #DDE4FF;
  width: fit-content;
  border-radius: 50px;
}

.card-list .card-link .card-title {
  font-size: 1.19rem;
  color: #000;
  font-weight: 600;
}

.card-list .card-link .card-button {
  height: 35px;
  width: 35px;
  color: #5372F0;
  border-radius: 50%;
  margin: 30px 0 5px;
  background: none;
  cursor: pointer;
  border: 2px solid #5372F0;
  transform: rotate(-45deg);
  transition: 0.4s ease;
}

.card-list .card-link:hover .card-button {
  color: #fff;
  background: #5372F0;
}

.card-wrapper .swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  opacity: 0.5;
  background: #5372F0;
}

.card-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}

.card-wrapper .swiper-slide-button {
  color: #5372F0;
  margin-top: -35px;
}

@media screen and (max-width: 768px) {
  .card-wrapper {
      margin: 0 10px 25px;
  }

  .card-wrapper .swiper-slide-button {
      display: none;
  }
}
/*=============== BREAKPOINTS ===============*/
@media screen and (max-width: 678px) {
  .slider .list .item .detail .name{
    font-size: 2.8rem;
    line-height: 2.8rem;
  }
  .slider .list .item .detail .desc{
  font-size: 0.8rem;
  }
}
@media screen and (min-width: 1023px) {
  .nav__toggle {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }
}

@media screen and (min-width: 1152px) {
  /* .container {
    margin-inline: auto;
  } */

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
}
